body {
  background-color: black;
  text-align: center;
  font-family: Arial;
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  font-family: fantasy;
}

h3 {
  text-decoration: underline;
}

#container {
  width: 60%;
  margin: auto;
}

button {
  height: 40px;
  width: auto;
  margin: 10px;
  border: 2px solid red;
  border-radius: 4px;
  background-color: black;
  color: red;
  font-size: 15px;
}

#button1:hover {
  transform: scale(1.4) rotate(-8deg);
  transition-duration: 1s;
}

#button2:hover {
  transform: scale(1.4) rotate(8deg);
  transition-duration: 1s;
}

.health:hover {
  color: limegreen;
  transform: scale(1.4);
  transition-duration: 1s;
}
